<h1>All Orders</h1>
<div class="alert alert-warning">
  View button is disabled - this page is created as a place for future upgrade
</div>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <button class="btn btn-secondary disabled" title="Not active yet">View</button>
      </td>
    </tr>
  </tbody> 
</table>